* {
    margin: 0;
}

.canvas-container {
    position: relative;
    width: 500px;
    height: 500px;
}

#canvas {
    position: absolute;
    /* background-color: lightgrey */
}

#start {
    position: absolute;
    /* left: 110%;
    top: 20% */
}

#dice {
    position: absolute;
    /* left: 110%;*/
    top: 20%
}


body {
    background-color: #a3b18a;
}